
###############################################################################
# Excel writer configuration
###############################################################################

# Excel file streaming buffer size.
excel_out_buffer_size=1000

# No mapping


